body {
    background-color: #F2F2F0;
}
main {
    padding: 0rem; //
}
.welcomeText {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 48px;
}
.welcomeText h1 {
    font-size: 40px;
    font-family: 'monopol', 'monopol Fallback';   
    margin-bottom: 35px; 
}
.category-box {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    border-radius: 5px;
}
.category-box h2:hover {
    text-decoration: underline;
}

.category-box:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.category-box img {  
    margin-left: 1rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.category-box div{
    display: flex;
    align-items: center;
}

.article {
    margin: 1rem;
}

.article-box{
  background-color: white;
  padding: 10px  
}
.article-box p {
    height: 7rem;
    font-size: 24px;
    font-family: 'monopol', 'monopol Fallback';   
}
.article-box h2 {
    font-size: 14px; 
    margin-bottom: 1px; 
}
.article img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

