.footer-container-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F0;
    border-top: 1px solid;
    border-color: #25252519;
    margin-top: 24px;
    width: 100%;
}
.footer-container-middle{
    display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
  background-color: white;
  border-top: 1px solid;
  border-color: #25252519;
  margin-top: 24px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer-article-container{
    flex: 1;
  display: flex;
  align-items: center;
}
.footer-article-container-middle{
    flex: 0 1 calc(33.33% - 21.33px); /* Tre kolumner med mellanrum (32px / 1.5) */
    display: flex;
    flex-direction: column;
    width: auto;


}
.footer-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8px;
    align-self: flex-start;
    margin-top: 0px;
    
}

.footer-section1-size{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1460px;
    margin: 0 auto;
    padding: 2rem 4rem;
    width: 100%;
}
.footer-section2-size{
  display: flex;
  flex-wrap: wrap;

  gap: 32px;
  width: 100%;
  max-width: 1208px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.footer-img{
    height: 60px;
    width: 60px;

    inset:0px;
    margin-right: 21px;
    color: transparent;
}
.footer-h3{
    margin: 0;
    font-weight: 400;
    font-family: 'monopol', 'monopol Fallback';
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}
.footer-h3-middle{
    display:flex;
    align-self: flex-start;
    margin-bottom: 24px;
    font-weight:500;
    font-family: 'monopol', 'monopol Fallback';
    font-size: 20px;
    line-height: 24px;
    align-items: center;

}
.footer-p{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-family: 'interVariable', 'interVariable Fallback';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.13px;
    max-width: 200px;
    text-size-adjust: 100%;
}
.footer-p-middle{
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 8px;
    font-family: 'interVariable', 'interVariable Fallback';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.13px;
    max-width: 230px;
    text-size-adjust: 100%;
    font-feature-settings: 'calt' 1, 'cv05' 1, 'cv10' 1, 'ss07' 1;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
}
.inline-icon {
    flex-grow: 1;
    position: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 7px;
  }
@media (max-width: 767px) {
    .footer-article-container-middle {
      flex: 1 1 100%;
    }
    .footer-article-container {
        flex: 1 1 100%;
        justify-content: center;
      }
  }
  @media (width > 767px) {
    .footer-img{
    height: 80px;
    min-width: 80px;
    color: transparent;
    }
    .footer-p{
        font-size: 19px;
    }
    .footer-section1-size{
        padding: 2rem 4rem;
        gap: 8px;
    }
    .footer-section2-size{
        padding: 2rem 4rem;
        gap: 8px;
    }
}
