.footer-container-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F0;
    border-top: 1px solid;
    border-color: #25252519;
    margin-top: 24px;
    width: 100%;
}
.footer-container-middle{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 32px;
    background-color: white;
    border-top: 1px solid;
    border-color: #25252519;
    margin-top: 24px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer-container-middle p {
    margin-bottom: 6px;
    font-size: 17px;
}


.footer-container-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: white;
    width: 100%;
    padding: 2rem 1rem;
}
.footer-article-container{
    flex: 1;
    display: flex;
    align-items: center;
}
.footer-article-container-middle{
    flex: 0 1 calc(33.33% - 21.33px); /* Tre kolumner med mellanrum (32px / 1.5) */
    display: flex;
    flex-direction: column;
    width: auto;
}
.footer-article-container-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}
.footer-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8px;
    align-self: flex-start;
    margin-top: 0px;
}
.footer-article-bottom{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    min-width: 200px;
}

.footer-section1-size{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1460px;
    margin: 0 auto;
    padding: 2rem 4rem;
    width: 100%;
}
.footer-section2-size{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    max-width: 1208px;
    margin: 0 auto;
    padding: 2rem 1rem;
}
.footer-section3-size{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 16px;
}

.footer-img{
    height: 60px;
    width: 60px;
    inset:0px;
    margin-right: 21px;
    color: transparent;
}
.footer-h3{
    margin: 0;
    font-weight: 400;
    font-family: 'monopol', 'monopol Fallback';
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}
.footer-h3-middle{
    display:flex;
    align-self: flex-start;
    margin-bottom: 24px;
    font-weight:500;
    font-family: 'monopol', 'monopol Fallback';
    font-size: 20px;
    line-height: 24px;
    align-items: center;
}
.footer-h3-bottom{    
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.inline-div {
    display: flex;
    align-items: center;
}
  
.footer-p-bottom{
    font-size: 16px;
    margin: 4px 0;
    display: flex;
    align-items: center;
}
.footer-bottom-signature{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    font-size: 16px;
    opacity: 0.4;
    border-top: 1px solid #ffffff;

}
.inline-icon {
    display: block;
    height: 16px;
    margin-left: 8px;
}
  

  
@media (max-width: 767px) {
    .footer-article-container-middle {
      flex: 1 1 100%;
    }
    .footer-article-container {
        flex: 1 1 100%;
        justify-content: center;
      }
  }
  @media (width > 767px) {
    .footer-img{
    height: 80px;
    min-width: 80px;
    color: transparent;
    }    
    .footer-section1-size{
        padding: 2rem 4rem;
        gap: 8px;
    }
    .footer-section2-size{
        padding: 2rem 4rem;
        gap: 8px;
    }
    .footer-article-bottom{
        flex-direction: column;
        border-right: #ffffff 1px solid;

    }
}
