
header { 
    background-color: white;
    padding: 1rem;
    height: 65px;
    column-gap:  1rem; 
    display: flex;
    align-items: center;
}
.header-group {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}
.logo-container:hover {
    cursor: pointer;
}

.logosize {
    width: 58px;
}

.nav-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
.nav-icons p {
    margin-top: 1px;
    font-size: 14px;
    white-space: nowrap;
}

.header-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-icon-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-icon-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-icon-openhours {
    display: none;
}
.header-icon-customerService{
    display: none;
}
.header-search-box {
    display: none;
}
.nav-icons:hover {
    cursor: pointer;
}

.menu-icon {
    width: 20px;
    height: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 3px;    
}
  
.menu-icon span {
    width: 12px;
    display: block;    
    height: 2px;
    background-color: black;
    margin: 1px;
}

@media (min-width: 768px) {
    header {
        padding: 1rem 4rem;
        height: 72px
    }
    .logo-search{
        display: flex;
    }
    .logosize {
        width: 86px;
        height: 48px;
    }
    .logo-container {
        min-width: 86px;
    }
    .header-icon-search {
        display: none;
    }
    .header-search-box {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F0;
        border-radius: 24px;
        height: 48px;
        margin-left: 1rem;
        margin-right: 1rem;
        width: clamp(150px, 50vw, 380px);
        /* 
           This uses clamp() to create a fluid width that:
           - Has a minimum of 150px
           - Scales based on viewport width (30vw)
           - Maxes out at the original 330px
        */
    }
    .search-div {
        display: flex;
        width: 100%;
        margin-top: 12px;
        margin-left: 16px;
        margin-right: -8px;
    }
    .green-search-button {
        display: none;
    }
    .header-icon-openhours {
        display: none;
    }   
    
}

@media (min-width: 1024px) {
    header {
        height: 81px;
        display: flex;
        justify-content: center;
    }
    .search-div {
        margin-top: 0px;
        margin-left: 26px;
        margin-right: -8px;
    }
    .search-div img {
        display: none;
    }
    .header-search-box {
        display: flex;
        flex-direction: row;
        width: clamp(150px, 50vw, 420px);
    }
    .green-search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #095741;
        color: white;
        border-radius: 24px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 4px;
        gap: 5px;
    }  
    .header-icon-menu {
        display: none;
    }

    .header-icon-openhours {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-icon-customerService{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media (min-width: 1207px) {
    .header-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
    }
    .header-icon-openhours {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
    }
    .header-icon-customerService {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
    }

}