header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5;
    height: 65px;
}

.logo-container {
    display: flex;
    align-items: center;
}
.logo-container:hover {
    cursor: pointer;
}

.logosize {
    width: 58px;
}

.nav-icons {
    height: 24px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-icon p {
    margin-top: 1px;
    flex: 1;
    font-size: 14px;
}

.header-icon svg {
    width: 20px;
    height: 20px;
}
.header-icon:hover {
    cursor: pointer;
}

.menu-icon {
    width: 20px;
    height: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 3px;    
}
  
.menu-icon span {
    width: 12px;
    display: block;    
    height: 2px;
    background-color: black;
    margin: 1px;
}

@media (min-width: 768px) {
    .logosize {
        width: 58px;
        height: 32px;
    }
}